[2019-07-12 05:39] ShanaScogin opened #1 "Add roxygen formatting to the R files"
Add roxygen formatting to the R files

[2019-07-12 15:21] ShanaScogin commented on #1
Formatting has been added. There are some errors of unexpected section headers in some of the documentation (see MCMC_simcase_probs) - might be special character issue. Need to go in and clean up.

[2019-07-12 15:34] ShanaScogin opened #2 "Add packages to imports and call from namespaces"
Add packages to imports in description and change code in the R functions from requiring packages to calling the functions from their namespaces

[2019-07-12 17:49] jkarreth opened #3 "mcmctab: add mean as alternative to median"

[2019-07-12 17:54] jkarreth opened #4 "Example data"
Use `Cowles` from R's pre-loaded datasets?

[code]

[2019-07-12 17:56] jkarreth opened #5 "MCMC_roc_prc: generalize for other input"
including JAGS/BUGS

[2019-07-12 17:57] jkarreth opened #6 "create generalized mcmcPPplot"
this will replace with mcmcProbitPlot

[2019-07-12 17:58] jkarreth opened #7 "generalize fd.mat"
replace with MCMC_fd_mat.R

[2019-07-12 18:00] jkarreth opened #8 "Standardize function names"
use lowerCamelCase, e.g. mcmcTab

[2019-07-12 18:04] jkarreth opened #9 "combine existing docs into vignette(s)"
Pull content from these sources:
- <https://github.com/jkarreth/Bayes/blob/master/MCMC_probability_demo.Rmd>
- <http://www.jkarreth.net/files/Lab3-4_JAGS-BUGS.html>
- <http://www.jkarreth.net/files/Lab5_Postestimation.html>

[2019-07-12 18:05] jkarreth commented on #3
Decided to not do this, since the median is usually preferable.

[2019-07-12 18:05] #3 closed

[2019-07-12 18:07] jkarreth opened #10 "add ROPE and area < / > ROPE to mcmcTab"

[2019-07-12 22:07] ShanaScogin opened #11 "Add unit testing"
Add unit tests in testthat

[2019-07-12 22:29] ShanaScogin commented on #8
I added some draft names. A couple things to note - 1.) I changed the function that does the sim pred prob for logit to 'mcmcPredProb' (since setting the other values to the mean/med is the standard as far as I know) and left the obs prob as 'mcmcObsProb.' There might be a better option than this. 2.) I also changed the probit plotting function to 'mcmcProbitPlot' (instead of mcmcProbitPlotPP) sin

[2019-07-12 22:43] jkarreth commented on #8
Sounds good; my suggestions:

- [x] let's use mcmcAvgProb and mcmcObsProb; the former is consistent with the language in Hanmer & Kalkan (2013)

- [ ] since mcmcProbitPlot simply plots the probabilities that are generated by mcmcAvgProb, we should remove the first part (generating the probabilities) and just make it a plotting function, something like mcmcPPplot

- [ ] ... and analogously, we can

[2019-07-13 13:17] jkarreth opened #12 "create a separate mcmcFDplot"
modeled after Figure 1 in Karreth (2018)

[2019-07-13 13:21] jkarreth commented on #7
now renamed too mcmcFD.R, this function just needs to combine mcmcProbitFD.R and mcmcLogitFD.R, which can then be deleted.

[2019-07-13 13:22] jkarreth commented on #8
Renaming is now complete and edits to functions are all documented in separate issues.

[2019-07-13 13:22] #8 closed

[2019-07-13 13:25] jkarreth commented on #4
I made an error: `Cowles` is part of the {carData} package. Can we reuse it and include it in this package?

Is there a better example dataset in {[datasets](https://stat.ethz.ch/R-manual/R-devel/library/datasets/html/00Index.html)}?

The example dataset should have:

- [ ] a binary outcome variable
- [ ] at least one binary predictor
- [ ] at least one continuous predictor

[2019-07-13 13:48] ShanaScogin opened #13 "Combine mcmcprobitfd and mcmclogitfd into mcmcFD"
I started this last night, but need to delete mcmcProbitFD and mcmcLogitFD and make sure mcmcFD is generalized - wanted to check with you first, though @jkarreth

[2019-07-13 13:58] jkarreth commented on #13
sounds good, please go ahead

[2019-07-13 14:20] jkarreth commented on #7
Now covered in #13 .

[2019-07-13 14:20] #7 closed

[2019-07-13 14:29] jkarreth opened #14 "standardize how CI for posteriors is specified"
Currently:

- `lower = 0.05, upper = 0.95` in `mcmcAveProb` and `mcmcObsProb`
- `ci = c(0.05, 0.95)` in mcmcFD
- `ci = 0.95` in mcmcTab

I like `ci = c(0.05, 0.95)` best - explicit, yet short.

This should be implemented in all functions that require specifying the CI:
- [x] mcmcAveProb
- [x] mcmcObsProb
- [x] mcmcFD
- [x] mcmcTab

[2019-07-13 14:58] jkarreth commented on #10
done

[2019-07-13 14:58] #10 closed

[2019-07-13 15:00] jkarreth opened #15 "add brute bar plot function to visualize datasets"

[2019-07-13 15:14] jkarreth commented on #15
done

[2019-07-13 15:14] #15 closed

[2019-07-13 16:00] ShanaScogin commented on #14
Great - I've completed these. Have tested mcmcObsProb, but not others

[2019-07-13 16:16] jkarreth commented on #5
Right now this function conveniently uses `rstanarm::posterior_linpred(rstanarm_object, transform = TRUE)` to generate pr(y = 1).

If we wanted to allow other input (JAGS/BUGS) we would need to add code to generate pr(y = 1) directly.

[2019-07-13 16:26] ShanaScogin commented on #14
The default for mcmcTab is currently c(0.025, 0.975) and the others are c(0.05, 0.95). Do we want to standardize?

[2019-07-13 16:49] ShanaScogin opened #16 "add print functions"
need to add print.xyz functions to print out the results in a nice way. I'm going to start with mcmcObsProb.R tonight to get that function as polished as possible.

[2019-07-13 16:49] jkarreth commented on #14
Yes, let's use `c(0.025, 0.975)` for 95% CI throughout.

[2019-07-13 16:54] jkarreth opened #17 "add plot functions?"
Shana's #16 made me wonder: it was inefficient of me to duplicate the computation and plotting of FDs and PPs in the plotting functions.

Instead, it seems like it would be better to generate two plotting functions. Each takes the output from `mcmcAveProb`/`mcmcObsProb` and `mcmcFD`, respectively and generates the desired plots.

Thoughts?

[2019-07-13 16:55] jkarreth opened #18 "Add PP functions for ordered logit/probit & multinomial logit"
long-term goal.

[2019-07-13 16:55] jkarreth opened #19 "Add plotting function for PPs from ordered logit/probit & multinomial logit"
long-term goal

[2019-07-13 16:58] ShanaScogin commented on #17
Oohh this makes sense. So perhaps it would be a plot() wrapper like Xu's gysnth package? (You can just throw plot() around the gysnth object and specify the type of plot - it's really nice.) I think that could work. I can work on that tomorrow after I work on mcmcObsProb tonight, unless you have any new ideas by then?

[2019-07-13 17:07] jkarreth commented on #17
That would be one way, though it would require us to define a new object class (like a gsynth object), right?

So I was thinking an easier and quicker way (for now!) would be just a simplified version of the current function that still takes as input the output created from mcmcAvePP, for instance, like so:

[code]

Would you be OK with that?

[2019-07-13 17:11] ShanaScogin commented on #17
Ah sure - Ya that makes sense and sounds good. I'll play with it tomorrow. (Though, I am probably going to define these as a new object classes for the print functions anyway tonight, so it might be not that bad. I'll play with it tomorrow and kick it over to you to see what you think?)

[2019-07-13 17:14] jkarreth commented on #17
Great!

I'm indifferent re: object classes. For teaching & programming purposes, tibbles / dataframes are sufficient (for me), but do whichever you think works best. I'd just want to make sure that the output from `mcmcAveProb`, `mcmcObsProb`, `mcmcFD` always reduces to a dataframe (if that makes sense)

[2019-07-13 17:19] ShanaScogin commented on #17
Ahh hm - that makes total sense. Might not be able to do the object then? Would having to specify object$dataframe be too much? I wonder if I could do something with summary() so it spits out a dataframe when one runs it, but one can do summary() to spit out nice stuff. I haven't made something to work with summary() yet so I will mess around with it and let you know?

[2019-07-13 17:24] jkarreth commented on #17
This brings me to the boundaries of my R knowledge ☺️

I like the summary idea.

For background, my original intention for these functions was to generate data frames to then plot (or summarize) with separate code. I hadn't thought about printing them, since they are objects to be further processed.

But I'll defer to you on this as long as the functions do create data frames that can be used furt

[2019-07-13 18:09] ShanaScogin commented on #17
Ya definitely - it's your package, so you know the needed functionality! I was just thinking in terms of user friendliness - when I was plotting with the observed value function for the homework, I was getting funky results - turns out I was putting in the wrong explanatory variable (which is currently a model matrix column number). If it had spit out something like, 'these results for this variab

[2019-07-13 18:13] #1 closed

[2019-07-13 18:14] #2 closed

[2019-07-13 18:17] jkarreth commented on #17
These are good points!

You're right that proper column order (and subsequently specification of `x_col`) is the most frequent error I've seen in working with users. Can't think of a clear way to prevent this though, since column *names* from MCMC output (from JAGS) depend on variable names used in the model.

I like your suggestion that documentation should fix this (for now) by including a remin

[2019-07-13 19:44] jkarreth opened #20 "add full posterior distributions to mcmcRocPre"
following discussion in lecture. Also illustrated in more detail in this Polmeth paper: <http://polmeth.mit.edu/sites/default/files/documents/Andreas_Murr.pdf>

[2019-07-13 19:47] jkarreth opened #21 "add function to plot marginal effect after interaction in linear model"

[2019-07-13 22:32] snpwill commented on #4
We could use the Titanic data from the datasets package. This has a binary outcome (survival) and a binary indicator (Gender). However, the closest thing to a continuous predictor would be the class variable which only has four values.

[2019-07-13 22:51] snpwill commented on #4
Actually nevermind. The Titanic data seems to be frequency tables.

[2019-07-14 03:47] mlq38 commented on #4
I looked at all datasets in {datasets}, but could not find any thing that matches the criteria. attitude data has a continuous outcome (rating) and other 6 continuous variables and maybe we can recode the outcome variable and one of the IVs to get two binary indicators.

[2019-07-14 15:38] jkarreth opened #22 "add full_sims option to mcmcAveProb and mcmcObsProb"
like in mcmcFD, so something like this for mcmcAveProb:

[code]

and for mcmcObsProb it should be:

[code]

Eventually we should standardize the names of the arguments & intermediate objects and make the two functions (mcmcAveProb and mcmcObsProb) a bit more similar, but the general idea should work. (Just maybe add a warning that the longer `xrange` becomes the larger pp_mat will be.)

[2019-07-14 15:53] jkarreth commented on #9
- [ ] include examples showing how to plot posterior probabilities based on output from mcmcAveProb and mcmcObsProb

[2019-07-14 15:53] jkarreth commented on #6
Second thought: the plotting function itself doesn't contribute anything revolutionary, since it simply processes the output from mcmcAveProb or mcmcObsProb.

I think now that creating such a function just wraps what can be achieved with a few lines of code. Plus, the way the function would work depends a lot on the output from the PP function.

Therefore, it's probably best to strike this functio

[2019-07-14 15:53] #6 closed

[2019-07-14 15:54] jkarreth commented on #19
(same logic as in #6 )

Second thought: the plotting function itself doesn't contribute anything revolutionary, since it simply processes the output from mcmcAveProb or mcmcObsProb.

I think now that creating such a function just wraps what can be achieved with a few lines of code. Plus, the way the function would work depends a lot on the output from the PP function.

Therefore, it's probably bes

[2019-07-14 15:54] #19 closed

[2019-07-14 15:55] jkarreth commented on #17
Decided to drop plotting functions (#6 ) and instead show plotting in vignette (#9).

[2019-07-14 15:55] #17 closed

[2019-07-14 17:25] jkarreth commented on #12
first commit done.

[2019-07-14 17:25] #12 closed

[2019-07-14 19:44] ShanaScogin opened #23 "CMD check error/warnings/notes"
Figure out why check is failing. Current error

testing if installed package can be loaded from temporary location
   Error: package or namespace load failed for ‘BayesPostEst’ in library.dynam(lib, package, package.lib):
    shared object ‘BayesPostEst.so’ not found
   Error: loading failed
   Execution halted
   ERROR: loading failed

[2019-07-15 02:35] ShanaScogin opened #24 "enhancing xcol argument in obs value function"
@jkarreth  I added a potential solution to the xcol problem for you to look at - I added an argument takes the variable name, but I also left xcol as an argument. (A message spits out if both are supplied that it defaulted to the variable name argument.) I also added a second function that takes the formula, data, fit, and variable name instead of the model matrix, xrange, mcmcout, etc. I've calle

[2019-07-15 03:41] jkarreth commented on #24
very cool solution with xinterest in `mcmcObsProb.R`! I haven't tested this but if it checks out OK I think this is a great solution and I think we can go with it for mcmcAveProb as well.

I very much like the idea behind `mcmcSimObs` but am agnostic on whether we should include it now (vs. later). If it works, it would be terrific to keep it in the package. Otherwise, I think the more cumbersome

[2019-07-15 03:55] ShanaScogin commented on #24
Great! I've tested the xvariable argument on my simulated data and the examples on your website and it seems to be fine, but I'll test some more and add it to the average function. Also FYI - mcmcSimObs is actually slower than mcmcObsProb, which is to be expected (the median was 70 milliseconds slower over 100 runs with the simulated data [961 to 1030 millisecs] if I remember correctly), so that's

[2019-07-15 06:53] ShanaScogin commented on #23
Removed a rogue @useDynLib - package now loads. There are currently three warnings and one note, but nothing crazy, so closing this issue.

[2019-07-15 10:44] jkarreth commented on #20
the idea: first, define a function - pretty similar to current version of mcmcRocPrc. Then, run that function through lapply on the full mcmc output.

[2019-07-15 10:47] jkarreth commented on #24
I'll have to take a closer look but for now I think your suggestion is great - include it as an extra function with its own documentation. That said, I would prioritize it lower just during this week and get the package ready with the existing functions.

Once the package is up, I'd love to see a more convenient solution like mcmcSimObs become part of the package. (Unless you can take care of it a

[2019-07-16 00:31] ShanaScogin commented on #24
Going to close this one since the argument is added to both mcmcObsProb and mcmcAveProb and is passing testing so far. (More tests always welcome.) We can add a new one for the mcmcSimObs and mcmcSimAve if need be.

[2019-07-16 00:31] #24 closed

[2019-07-16 00:55] jkarreth commented on #22
to keep track:
- [x] added to mcmcAveProb
- [x] added to mcmcObsProb

[2019-07-16 00:57] ShanaScogin commented on #14
this is done.

[2019-07-16 00:57] #14 closed

[2019-07-16 03:34] ShanaScogin commented on #22
I haven't standardized these functions fully (though I do think I might have standardized the argument names), but I did add your code to return full simulations. Seems to be working.

[2019-07-16 19:01] jkarreth commented on #4
Thank you for looking into these! I think `carData::Cowles` can work well. Could you check whether there are any licensing restrictions to re-use these data in a different package?

When we use it, we would also need to convert the variables to all numeric (so it makes processing for JAGS/BUGS/Stan easier), like so:

[code]

[2019-07-16 19:26] jkarreth opened #25 "mcmcRocPrc is slow when full_sims = TRUE"
at some point, the underlying code needs to be optimized. lapply + loop = probably not good.

[2019-07-16 19:26] jkarreth commented on #20
completed and therefore closing this. But: needs to be optimized at some point; this is too slow right now. See #25

[2019-07-16 19:26] #20 closed

[2019-07-16 19:29] jkarreth commented on #22
This looks good to me now; should we close this issue?

[2019-07-16 19:52] ShanaScogin commented on #25
I'll prioritize everything else now, but I'd love to look into this eventually.

[2019-07-16 19:53] ShanaScogin commented on #22
Sure thing. Will close.

[2019-07-16 19:53] #22 closed

[2019-07-16 23:19] ShanaScogin commented on #11
@jkarreth do you have some examples of how to use rocprc? I started a test file, but I want to understand the function first. (I also see we have to generalize the sims to more than just a stan object for rocprc)
(edit: some examples for mcmcLogitFD or mcmcProbitFD (which are now combined into one) would also be great, if they exist. - here's the current test for mcmcFD: https://github.com/ShanaSc

[2019-07-17 00:58] ShanaScogin commented on #13
I am going to go ahead and close this - the function still needs to be tested thoroughly, but I combined both into mcmcFD

[2019-07-17 00:58] #13 closed

[2019-07-17 01:25] jkarreth opened #26 "mcmcFDplot: error using gather"
[code]

Error:  Must supply a symbol or a string as argument

This creates the error:

[code]

whereas not specifying arguments for key and value works as intended:

[code]

Can the .data$variable and .data$fd be removed without breaking any of the testing functions?

[2019-07-17 01:27] jkarreth commented on #11
@ShanaScogin definitely! Quick example below. Does this help?

[code]

[2019-07-17 01:29] ShanaScogin commented on #26
-_- I honestly have no idea. Just learning how to tidyverse in a package. I think we should get the function working and I can troubleshoot the cmd check notes later. It'd be great to get a test for this going too so I'd be more able to check that.

[2019-07-17 01:32] ShanaScogin commented on #11
Perfect! I'll get that up!

[2019-07-17 01:45] jkarreth commented on #26
Sounds good! Then I would recommend replacing lines 17-20:

[code]

with:

[code]

[2019-07-17 16:44] ShanaScogin commented on #26
fixed this. now i'm getting an error with the .data I had before, but it's more general than this function. Not sure what's up since this was solved two days ago, but I'll troubleshoot this after we have all the functions up and running.

checking dependencies in R code ... WARNING
  '::' or ':::' import not declared from: ‘.data’

[2019-07-17 16:44] #26 closed

[2019-07-17 17:15] ShanaScogin commented on #11
Tests that still need a lot of work:

- [x] test_mcmcRocPrc
edit: struck out the graph functions

Tests that could have a probit check built in (but otherwise pretty well formed):

- [x] test_mcmcObsProb
- [x] test_mcmcAveProb

I'm going to work on simulating some data for the mcmcRocPrc test instead of relying on another package to reduce dependencies first.

[2019-07-17 18:53] jkarreth commented on #11
OK!

@ShanaScogin Please let me know if/how I can help with the tests that still need a lot of work.

On mcmcRocPrc - sounds good; any simulated data for a logit model should do, even with only one predictor.

[2019-07-17 18:54] jkarreth commented on #11
Re: mcmcPPplot, since we decided that this function is not being included in the package at this time, can we make things easier by deleting it from the repo right now to avoid test errors?

[2019-07-17 23:35] ShanaScogin commented on #11
Sounds good - I can just add mcmcPPplot to the build ignore file for now. Convention is to have a test file per function as far as I understand, but I've combined fd and fd plot function testing. I can split them if nec. dfBarTable is a bit buggy for some reason - perhaps we should cut that out, too?

[2019-07-18 00:15] ShanaScogin commented on #23
I'm going to reopen this instead of making a new one - the check was fine, but now is having issues with the .data from rlang

W  checking dependencies in R code (4.2s)
   '::' or ':::' import not declared from: ‘.data’

[2019-07-18 00:15] jkarreth commented on #11
Yup! If dfBarTable in any way proves to be a bottleneck (and it sounds like it does), please take it out at least for now. Thanks!

[2019-07-18 17:30] jkarreth commented on #5
Rework this to be something like `y.pred <- plogis(Xb)`

[2019-07-18 17:39] jkarreth opened #27 "mcmcTab: add warning when ROPE is specified"
mcmcTab should print a message above or below the table when ROPE is not NULL. The warning should read something like:

"This table contains an estimate for parameter values outside of the region of practical equivalence (ROPE). For this quantity to be meaningful, all parameters must be on the same scale (e.g. standardized coefficients or first differences)."

[2019-07-18 17:41] jkarreth commented on #4
Example data will only show up in the vignette, and we can load it from carData there. All examples in the package work with simulated data.

[2019-07-18 17:41] #4 closed

[2019-07-18 18:15] jkarreth opened #28 "long-term goals: mcmcAveProb, mcmcObsProb, mcmcFD for multilevel models"
write function to easily incorporate level-2 groupings

[2019-07-18 18:28] ShanaScogin commented on #11
Alright - think I'm going to close this now. The tests are up - we could always add more to them to check other functionality as we continue, but they're up and running with simple examples right now. Thanks all!

[2019-07-18 18:28] #11 closed

[2019-07-19 01:13] jkarreth opened #29 "Caution: mcmc output conversion from JAGS/BUGS: order of columns"
For mcmcAveProb etc.:

If we define generate `mcmcout` as something like `mcmc.mat[, 1:ncol(xmat)` (where mcmc.mat is the mcmc object transformed into a matrix, and xmat is the model matrix)

then we need to make sure that the mcmc object indeed has coefficients listed first. For Stan objects, this is usually the case. But JAGS objects may list coefficients alphabetically. So just pulling the firs

[2019-07-19 02:05] jkarreth opened #30 "mcmcAveProb, mcmcObsProb: standardize outputs"
for fullsims = TRUE and fullsims = FALSE, the x/predictor columns should have identical names, either x or predictor.

[2019-07-19 02:11] jkarreth opened #31 "mcmcFDplot: change xlab"
to something better than "as each predictor changes as indicated"

[2019-07-19 11:32] jkarreth opened #32 "mcmcRocPrc: summarize x & y"
Instead of the final output containing the full posterior distribution for x and y for the ROC and PRC, summarize these two with only median and CI.

[2019-07-19 23:40] jkarreth commented on #31
done

[2019-07-19 23:40] #31 closed

[2019-07-19 23:40] jkarreth commented on #30
done, using x now.

[2019-07-19 23:40] #30 closed

[2019-07-19 23:43] jkarreth commented on #25
I think the issue is that we're using functions from the ROCR package which are apparently slow. Maybe we can one day replace the AUC calculations with our own function instead since we don't really need the overhead of ROCR for that.

[2019-07-19 23:44] jkarreth commented on #32
low priority for now

[2019-07-19 23:45] jkarreth commented on #9
first draft done, therefore closing.

[2019-07-19 23:45] #9 closed

[2019-07-21 23:48] ShanaScogin commented on #27
I've added a draft of this - Do you have a good example of code using ROPE I could test this out on?

[2019-07-22 02:20] jkarreth commented on #27
Great, thanks! Does the example in the vignette work?

The way you simulate data and fit the model in mcmcTab.R should already do the trick. The warning looks good to me! I might just misunderstand the question, though - let me know what I can provide.

[2019-07-22 04:07] ShanaScogin commented on #27
Perfect. I've just added a message, so it prints out red when it runs, but it isn't in the actual table. It's running fine. If that sounds good, this can be closed.

[2019-07-22 12:03] ShanaScogin commented on #29
Re: adding the code that converts the post. distribs. into matrices from mcmcTab into mcmcAveProb, mcmcObsProb, and mcmcFD - after messing with them with a number of models and seeing what you were saying about how much jags can shift up the variables, I'm nervous about automating that part until we find a way to match up the column names. Perhaps that's why you had left them out initially? What d

[2019-07-22 12:17] ShanaScogin commented on #29
re: this issue on the rocprc - is it better that we also add these types of arguments to that one instead of what is there? The only thing I worry about generalizing the 'sims' argument to something more than stan is that model.frame(xyz) doesn't act the same on all of those class objects (unless you know of a way to make it so it does).

[2019-07-22 15:10] jkarreth commented on #27
The message looks great, thank you for adding that.

[2019-07-22 15:10] #27 closed

[2019-07-22 15:17] jkarreth commented on #29
You're right on all of the above. And yes, I think that was my reason for keeping the extra step to create mcmc objects by hand. So...

1. let's not automate the conversion of model objects to coefficient matrices just now
2. let's rely on the warning in the documentation to prevent false column ordering
3. I like the idea of new branch for automated sim functions - we can figure that out later
4.

[2019-07-22 17:12] jkarreth opened #33 "(for JOSS): reference other packages with similar functions"
such as: [tidybayes](http://mjskay.github.io/tidybayes/) (the most comprehensive so far), [bayesplot](http://mc-stan.org/bayesplot/), [bayestable](https://github.com/ananyevm/bayestable), [ggmcmc](https://cran.r-project.org/package=ggmcmc), [sjstats](https://cran.r-project.org/package=sjstats), and [sjPlot](https://cran.r-project.org/package=sjPlot). Can also check CRAN task views for others.

[2019-07-22 22:07] ShanaScogin commented on #29
I used the model matrix for the pred probs and the plogis() route in a separate test function. Does this sound right?

https://github.com/ShanaScogin/BayesPostEst/blob/master/R/mcmcRocPrctest.R

[2019-07-22 23:56] jkarreth commented on #29
I think that looks right! We should just add an option for the probit as well - had forgotten about that before. Let's do this akin to what we did in mcmcAveProb and mcmcObsProb:

[code]

and then add `link = "logit"` to the function call.

[2019-07-23 04:27] ShanaScogin commented on #29
This is done - feel free to close this issue unless you have something else

[2019-07-23 15:27] ShanaScogin commented on #23
Found the typo - closing this. Everything is looking good on this front.

[2019-07-23 15:27] #23 closed

[2019-07-23 17:44] jkarreth opened #34 "add other measures of model fit"
including
- [ ] "R-squared for Bayesian regression models" ([Gelman et al. 2017; function included](http://www.stat.columbia.edu/~gelman/research/unpublished/bayes_R2.pdf))
- [ ] predictive concordance;

[2019-07-23 17:50] jkarreth commented on #34
That said, let's not duplicate what is already excellent here:

https://github.com/ananyevm/bayestable/

[2019-07-24 03:17] jkarreth commented on #29
looks good!

[2019-07-24 03:17] #29 closed

[2019-07-24 03:17] jkarreth commented on #32
package can go to CRAN without this change.

[2019-07-24 17:32] jkarreth opened #35 "add ORCID to person names in DESCRIPTION"
like this: https://ropensci.org/technotes/2018/10/08/orcid/

[2019-07-30 05:49] ShanaScogin opened #36 "Example in mcmcRocPrc documentation needs to be updated"
Example in mcmcRocPrc documentation needs to be updated to reflect new generalized arguments

[2019-08-02 01:36] ShanaScogin commented on #36
This is done

[2019-08-02 01:36] #36 closed

[2019-08-03 18:06] jkarreth opened #37 "replace gather with new pivot_longer in tidyr"
it looks like in the tidyr package, `pivot_longer` will become a more intuitive option for doing what we're doing with `gather` now. We could adjust the code accordingly once the new version of tidyr (0.8.4 ?) comes out, though `gather` will [stay around](https://twitter.com/hadleywickham/status/1108107722128613377).

Details: https://tidyr.tidyverse.org/dev/reference/pivot_longer.html

[2019-08-08 00:31] jkarreth opened #38 "add cite to Kruschke (2018) for ROPE"
"Rejecting or Accepting Parameter Values in Bayesian Estimation", https://doi.org/10.1177%2F2515245918771304

[code]

[2019-08-14 18:45] jkarreth commented on #38
now added to paper.md

[2019-08-14 18:46] jkarreth commented on #38
and to vignette

[2019-08-14 18:46] #38 closed

[2019-08-14 18:48] jkarreth commented on #33
last section in paper.md

[2019-08-14 18:48] #33 closed

[2019-08-14 18:48] jkarreth commented on #5
i consider this completed and closed

[2019-08-15 19:05] jkarreth commented on #21
Let's build on @jayrobwilliams mcmcme for this function.

[2019-08-16 13:22] jkarreth opened #40 "mcmcReg: make "pars" an optional argument"
@jayrobwilliams - so that `mcmcReg` prints all parameters by default (if you agree that's desirable).

[2019-08-20 02:50] jayrobwilliams commented on #40
My thought on this is that Bayesian models tend to have a lot of nuisance/hierarchical parameters, and printing all by default might not be that useful for most models people are actually estimating. Since we have to work with all samples to calculate credible intervals, I worry that defaulting to all parameters could also create performance issues. Do you think the benefits outweigh these potenti

[2019-08-22 00:33] jkarreth commented on #40
That's a good point and I could get behind that.

Then again, I like the texreg default behavior of printing all parameters but allowing for `omit.coef`. Could we do the same and...

- [x] include a `pars` option but leave it optional
- [x] add a mention in the help file that with a large number of parameters, users should specify `pars` explicitly
- [ ] add a conditional warning, say if the numbe

[2019-08-22 03:39] jayrobwilliams opened #41 "add coefficient plot function"
add a function to create a coefficient plot from Bayesian model objects, allowing users to supply the parameters they wish to include.

[2019-08-22 03:40] jayrobwilliams opened #42 "regex matching for multiple parameter names"
`mcmcReg` supports regular expression matching of multiple parameter family names from a character vector via `paste` with `collapse = "|"`. Implement this functionality for:

- [x] `mcmcTab`
- [x] `mcmcCoefPlot` (once implemented in #41)

[2019-08-22 03:42] jayrobwilliams opened #43 "automatic extraction of matrix of samples"
`mcmcTab` and `mcmcReg` automatically extract the matrix of posterior samples from Bayesian model objects. We should extend that functionality to other functions in the package so that users do not have to extract the matrix themselves.

[2019-08-22 16:36] jkarreth commented on #41
This is great! Want to name it `mcmcCoefPlot` or similar for consistency with `mcmcFDplot`?

[2019-08-22 19:11] jayrobwilliams commented on #40
added in a82be312c92360b2fd7b2423901df1fd9221e957

[2019-08-22 19:11] #40 closed

[2019-08-30 15:31] andybega opened #44 "Validate mcmcTab ROPE input"
The current code seems to work no matter what the ROPE input is:

[code]

produces:

[code]

[2019-08-30 18:56] andybega opened #45 "Travis-CI configuration not building and checking package?"
I don't think the Travis-CI configuration file actually ends with the package being built and checked. It checks the installed Stan version via `rstan::stan_version()` and declares success.

There should be a log of the package install and R check results (this is from https://travis-ci.org/andybega/states):

<img width="1044" alt="Screen Shot 2019-08-30 at 21 53 59" src="https://user-images.githu

[2019-08-30 21:58] andybega commented on #45
The `bug/travis` branch here has my history of failures so far https://travis-ci.com/andybega/BayesPostEst/builds

Installing the big packages like `rstan` and `rjags` seems to help, and I get up to the package build step when trying to knit the `get-started.Rmd` vignette. The code chunk trying to fit the first Stan model is error-ing out.

[2019-08-31 21:00] ShanaScogin commented on #45
Hi Andy - I just pushed Rob's new feature and am getting caught up on this now. When did you fork? Can you grab the new stuff (incl the vignette) in master and see if you're having the same problems? I had a problem with stan a month and a half or so ago, but haven't had it since. I might be missing the issue you're talking about here though - I'll review it soon.

[2019-09-01 00:13] jkarreth commented on #44
Thank you for catching this! I'll look into it - perhaps as straightforward as adding a warning if the input to ROPE is not a vector of 2 numeric values.

[2019-09-01 04:13] andybega commented on #45
Hello, I forked a few days ago, the last commits I had from your side were 15 Aug. Updating now :).

The issue here was that, if I understand right, the configuration file overrode the steps that are usually done to test an R package on Travis-CI, which are to build it and then R check on it. Instead, it was only installing rstan and then checking that the `stan_version()` command runs. Travis-CI

[2019-09-01 04:16] andybega commented on #44
Hello, this is fixed in one of the commits (https://github.com/andybega/BayesPostEst/commit/1a7b54d5e72fc31caef699e2b6d8170e0dd9acac) in my pull request (#46).

[2019-09-01 12:25] ShanaScogin commented on #45
Ah I see - the new versions shouldn't help that issue at all. Ya that's a bit of a problem. Thanks so much for looking into this. Is there something you need from me?

[2019-09-01 16:01] andybega commented on #45
Not for this issue---the new travis.yml file in the pull request will fix the problem with Travis-CI. I guess if you are happy with the pull request the only thing would be for you to approve it.

[2019-09-01 17:45] jkarreth commented on #44
Fantastic! Thank you. @ShanaScogin , can you close this once Andy's pull request (#46 ) is merged with master?

[2019-09-01 20:22] #45 closed

[2019-09-01 20:25] ShanaScogin commented on #44
Done and done!

[2019-09-01 20:25] #44 closed

[2019-09-02 11:51] andybega commented on #25
I started taking a look at this. You're right, the ROCR functions are where most of the time is spent. From line profiling (second column is time, first is memory):

![Screen Shot 2019-09-02 at 14 33 30](https://user-images.githubusercontent.com/1353756/64112808-2074fa80-cd91-11e9-9f44-13d21930420a.png)

Here's a benchmark report with a v2 `mcmcRocPrc()` I started working on: https://github.com/an

[2019-09-02 11:54] andybega commented on #25
Slapping my own head, one easy way to shave off time when `curves = TRUE, fullsims = TRUE` is to use the existing curve data to compute AUCs, rather than redoing the whole thing. That should put that last block at a similar time to the third one (12s instead of 22s).

[2019-09-02 12:53] andybega commented on #25
Ok, using the curves data indirectly is actually faster than directly using the `auc_roc` and `auc_pr` functions.

This is with `curves = FALSE, fullsims = TRUE`; `f1()` is the current package version, `f2()` the new version:

[code]

And now with `curves = TRUE, fullsims = TRUE`:

[code]

That leaves:

- switch the calculation when `curves = FALSE` to use curves for the median `pred_probs` + manu

[2019-09-02 14:02] #35 closed

[2019-09-02 14:44] andybega commented on #32
Should this be a job for `summary` and/or `print` methods?

[2019-09-03 00:21] jayrobwilliams commented on #41
Initial code completed in e6d610212e71041b872e0ee795670e44d2e2aaea. Will leave in a feature branch for further testing/enhancement until I assign this to a milestone later.

[2019-09-05 00:38] jkarreth commented on #32
I was originally thinking analogous to mcmcAveProb when `fullsims = FALSE`, but using `summary` or `print` instead is a good idea.

[2019-09-05 02:27] jayrobwilliams commented on #21
What do we want to call this? Right now I'm leaning towards `mcmcMargEff` but open to any other suggestions. @ShanaScogin?

[2019-09-05 03:00] jayrobwilliams commented on #21
to do:
- [x] example data and model results creation files similar to @andybega's for `jags_logit` and `jags_probit`
- [x] add hpdi option like in `mcmcReg`
- [x] rewrite documentation to fit with package style

[2019-09-05 20:53] andybega commented on #25
Alright, doing a re-implementation of the ROC and PR curve calculations did the trick. This is with `fullsims = TRUE`, `f1()` is current version `f2()` is the new replacement.

With `curves = FALSE`:
[code]

With `curves = TRUE`:
[code]

About 2 seconds to run it for the `jags_logit` example. There is a note at https://github.com/andybega/BayesPostEst/blob/f1da23b9db86461d4f9c671d9393265dd10578c5/

[2019-09-06 03:02] jkarreth commented on #25
Fantastic! Thank you!

[2019-09-10 02:22] jayrobwilliams opened #48 "Milestones and features"
@jkarreth had the very good point that we should start developing milestones and deciding what features/issues should be associated with which milestones. I think the starting point is what do we want to see in a feature complete, version 1.0.0?

I think the biggest/most consequential question we need to answer first is do we consider MCMC diagnostics to be part of Bayesian post estimation, or is

[2019-09-10 18:17] jkarreth commented on #48
Hmm, I would vote against MCMC diagnostics. As you write, this is already pretty well done in coda and ggmcmc (and some in rstan & bayesplot, or even superdiag), so I'd see a lot of potential for duplicating. If either of you feels different though, please post below!

[2019-09-10 18:24] jkarreth commented on #25
@ShanaScogin , since this is merged in, we can close this issue, right?

[2019-09-10 18:26] jkarreth commented on #48
Here are some things I suggest for the next versions; please feel free, all, to edit as you see fit!

### 0.1.0

- [x] any JOSS review requests

### 0.2.0

- [x] #41 add coefficient plot function
- [x] #21 add marginal effects plot

### 0.3.0

- [ ] #43 automatically extract posterior samples for all functions

### later versions

- [ ] #18 expand probability functions to other GLMs
- [ ] think ab

[2019-09-10 18:31] ShanaScogin commented on #25
Was this merged? (@andybega?) If it has, then ya, let's close it. I think I just missed when it was included.

[2019-09-10 18:32] andybega commented on #25
Not yet, I'm about to merge in your recent changes from `develop` to make sure nothing breaks and will then do a pull request.

[2019-09-10 18:34] ShanaScogin commented on #48
We had some requests at ICPSR to add more functionality to mcmcTab() - any thoughts on what might make that better? I also agree on leaving out mcmc diagnostics, and I wholeheartedly support expanding to other glms.

[2019-09-10 18:45] andybega commented on #32
Hey, I just submitted a pull request for the `mcmcRocPrc()` speed improvements. I'll tackle this next.

[2019-09-10 18:48] jayrobwilliams commented on #48
I agree that we should leave MCMC diagnostics out since there are very mature packages that handle most/all of them.

Other features I've considered:
- A ridge plot function like `mcmcFDplot()`but just for the posterior distributions of parameters
- A caterpillar plot function since lots of people do latent variable models in Bayes
- Expanding #21 add marginal effects plot to also handle a binary/

[2019-09-10 19:04] andybega opened #50 "Add package website / static docs using pkgdown?"
Hi,
how do you guys feel about adding a package website using [pkgdown](https://pkgdown.r-lib.org)? It's possible to set it up so that:

- pkgdown creates a website using the existing README, documentation, vignette
- the website is hosted as a project page on Github Pages, e.g. at something like `http://ShanaScogin.github.io/BayesPostEst`
- it's automatically built and deployed by Travis-CI as ch

[2019-09-10 19:26] ShanaScogin commented on #25
Tests all look great. You're the best. Closing this.

[2019-09-10 19:26] #25 closed

[2019-09-10 19:26] andybega commented on #25
Yay! Thanks

[2019-09-11 00:34] jkarreth commented on #48
Thanks for these suggestions!

- A ridge plot function like `mcmcFDplot()` but just for the posterior distributions of parameters
    * I like the idea; could it be an option to the coefplot function? E.g. `ridge = TRUE` or something like that. Especially for ridge plots, we'd want to add a warning that parameters should be roughly on the same scale; the most frequent thing I've seen in homework a

[2019-09-11 02:25] jkarreth commented on #5
Since the newest and super-fast implementation now requires an rjags object, I think we need to re-open this. Not super urgent, but I'd eventually like to make this a function that can take any MCMC input (from any of the packages we allow elsewhere).

I think the game plan would be to generalize the part that's currently up to line 65. The tricky part is likely to ensure that whatever grabs the `

[2019-09-11 02:26] jkarreth commented on #5
(Note: since the current version is explicit about required input, this can remain an enhancement IMHO.)

[2019-09-11 02:27] jkarreth commented on #5
#43 is related to this, too - could be helpful.

[2019-09-13 20:04] jkarreth commented on #50
I think that would be great if/when you have the time for this!

@ShanaScogin , your thoughts?

[2019-09-17 00:34] ShanaScogin commented on #50
Ya sounds great - this sounds like something I could do in an evening. Let me check out what Andy's linked so far and get back to everyone if I have questions.

[2019-10-03 14:22] jkarreth commented on #48
@ShanaScogin do you want to submit the current version (post-JOSS) to CRAN as version 0.1.0? I adjusted the version milestones above.

It may depend a bit on what @jayrobwilliams would like to do with the coefficient plot and marginal effects functions. If we add these soon, we could wait and put 0.2.0 on CRAN.

[2019-10-03 14:25] ShanaScogin commented on #48
I'm totally up for submitting this version to CRAN. Rob, what do you think?

[2019-10-03 14:29] jayrobwilliams commented on #48
I think we should submit as is, since `mcmcReg()` and the better parameter extraction in `mcmcTab()` are pretty big improvements. I think it makes sense to target the other new functions for 0.2.0, but there are also lots of small enhancements I can apply from the beginning of `mcmcReg()` that will take a while to add to all the other functions.

[2019-10-03 14:32] jkarreth commented on #48
Great! Let me make a couple small changes to the vignette and I will post here again when it's ready for your review/submitting to CRAN.

[2019-10-03 14:44] jkarreth commented on #48
@ShanaScogin vignette should be good to go - just added a reference and a few line breaks in the code.

[2019-10-03 17:13] ShanaScogin commented on #48
Great - am submitting now. Will let everyone know when it's up. I'll pull Andy's request after that and start working on the enhancement in issue #50

[2019-10-09 01:02] jayrobwilliams commented on #48
`mcmcCoefPlot` and `mcmcMargEff` have been merged into develop and should be good to go!

[2019-10-09 01:08] ShanaScogin commented on #48
Great! Cran release for v0.1.0 went out Sunday as well. Look forward to working on the new stuff for the next couple months.

[2019-10-09 01:28] jayrobwilliams commented on #41
Completed in cb684f30e14606b420aaf6098c3fd35eda1c4b5b

[2019-10-09 01:28] #41 closed

[2019-10-09 01:30] jayrobwilliams commented on #21
Completed in 8ca95c1448b6a5b380d6ef32e84b0cff255ed383

[2019-10-09 01:30] #21 closed

[2019-10-10 21:55] jayrobwilliams commented on #48
@jkarreth your comment on caterpillar plots

is prescient since today I realized that caterpillar plots are just our existing `mcmcCoefPlot()` with the parameters sorted by their means/medians. I think it makes sense to add a `sort` argument to the function, which would easily allow users to create caterpillar plots and simplify code maintenance since we won't have two separate functions with 90%

[2019-10-11 03:49] jkarreth commented on #48
👍 on the `sort` arg for `mcmcCoefPlot()`!

I'd be happy with your suggestion about `ridge`.

Lastly, what are your thoughts about the following for `mcmcMargEff`:

1. add a way to also handle a binary/categorical interaction
2. incorporating some of the features of the [interflex package](http://yiqingxu.org/software/interaction/RGuide.html), esp. the histogram and L/M/H box plots
3. add a second

[2019-10-15 21:54] jayrobwilliams commented on #48
Those all sound good to me. I think the binary/categorial interaction and sorting the point estimates are good targets for 0.2.0, and the interflex and Pr > or < 0 plots make sense for a later version since they're more involved. Once I get those additions implemented and @ShanaScogin gets the static docs site working do we want to release 0.2.0?

[2019-11-19 19:58] jkarreth opened #52 "mcmcReg shows warning when providing file extension in call"
This might be intended behavior, but just in case @jayrobwilliams you want to take a look (sorry for the pseudo-code, but hopefully this is clear):

[code]

Both calls print the correct table, the first as `tab_tt.tex.tex`, the second as `tab_tt.tex.`.

[2019-11-19 20:00] jkarreth commented on #52
Aha! The warning does not show up when also providing `format = "tex"` as intended. So I think I can close this right away.

[2019-11-19 20:00] #52 closed

[2019-11-19 20:01] jayrobwilliams commented on #52
Does the first function call still produce a file called `tab_tt.tex.tex` when you set `format = "tex"`? If so, I can add a quick regex to check if `.tex` is part of the supplied filename or not.

[2019-11-19 21:17] jkarreth commented on #52
Here is what I get now:

[code]

Session info:

[code]

[2019-11-24 18:44] jayrobwilliams commented on #52
It was expecting just `format = 'latex'`, so I've added a regex to catch both `'tex'` and `'latex'`. The file extension duplication is an annoying thing built into `texreg`, but I added a call to `sub()` to strip it out. Pushed to develop as 04b3b2240adf2e4a114547a4b0d5d76b7d712a3e.

[2019-12-10 23:35] ShanaScogin commented on #50
It's not failing currently, but I don't think the site is actually deploying correctly yet. I have the GitHub Pages sourcing from Master in the settings - perhaps this is not the way to do with Travis? @andybega - any advice?

[2019-12-10 23:50] ShanaScogin commented on #50
Ah - Never mind. It is still erroring. It seems to not error when I add the lines suggested from usethis::use_pkgdown_travis() to the travis yml, but Andy, you don't seem to have these lines in your travis yml, so not sure what's going on there yet.

[2019-12-11 02:54] ShanaScogin commented on #28
@jkarreth are there good readings on this you'd recommend? I've been wondering how to do the OV method in particular for logit mlms (or even if the OV method is possible for a population average, etc)

[2019-12-12 19:23] jkarreth commented on #28
The intuition for the OV approach is the same as what we do so far, except that we need to make predictions for groups and then average them.

There are a few descriptions on how to do this online. You might have already found them:

1. [UCLA R Data Analysis Examples: Mixed effects logistic regression](https://stats.idre.ucla.edu/r/dae/mixed-effects-logistic-regression/) -> section on "Predicted p

[2019-12-17 14:53] andybega commented on #50
Writes Andy because he just went through the process for another package but didn't write down the actual details so now, months later, he doesn't remember exactly.

Hopefully this is correct: travis will need an access token to be able to deploy the pkgdown pages to a gh-pages branch on GitHub.

1. Initialize an empty gh-pages branch; see bulled 3 at this https://pkgdown.r-lib.org/reference/deplo

[2019-12-17 18:35] ShanaScogin commented on #50
This is perfect - we actually do have a PAT with the public_repo option set up as a Travis environmental variable already, but I bet the issue is with the gh-pages. I'll work on that this week. Thanks!!

[2020-01-11 22:48] ShanaScogin commented on #50
Update: gh-pages still isn't being updated and getting travis erroring out with `invalid option "--github_token=".` Regenerated PAT and updated travis environmental variable so unsure what the problem is. Might try the second option that involves adding using travis.yml unless anyone has any other ideas?

[2020-01-21 08:40] andybega commented on #50
Based on the discussion [here](https://travis-ci.community/t/invalid-option-github-token-deploying-to-github-pages/5276), is the GITHUP_PAT environment variable set in Travis-CI?

Just to confirm, the name is `GITHUB_PAT`?

<img width="731" alt="Screen Shot 2020-01-21 at 09 38 43" src="https://user-images.githubusercontent.com/1353756/72788277-e1f1b680-3c31-11ea-8306-cfcd280692e5.png">

Weird. Loo

[2020-03-04 16:02] jkarreth opened #53 "Add "N" row to mcmcTab"
similar to texreg etc.

[2020-03-05 18:19] jayrobwilliams opened #54 "Update to to ggplot2 3.3.0"
Update ggplot2 dependency to 3.3.0 and get rid of all `coord_flip` instances! https://www.tidyverse.org/blog/2020/03/ggplot2-3-3-0/

[2020-03-10 18:20] jkarreth opened #55 "adjust "percentage point" term in mcmcFDplot"
`mcmcFDplot` mentions "percentage point change" in the x-axis label, but the plotted quantity is change on the 0-1 probability scale (e.g. 0.2 would move from Pr(y = 1) from 0.1 to 0.3, but technically that's equivalent to a 20 percentage point change).

Solution: either

- [ ] change the label, or

- [ ] add a line under `fd_dat <- tidyr::gather ...` that multiplies the changes by 100: `fd_dat$va

[2020-05-08 04:18] ShanaScogin opened #56 "Fix errors get back up on CRAN"
Hi yall - Been an eventful few months. I'm back in the US and will fix the errors that caused this to be archived asap. Anyone else willing to join is totally free to jump in. Hope everyone is safe and as well as can be.

[2020-05-12 03:46] ShanaScogin commented on #56
Added stringsAsFactors = TRUE to data.frame() in mcmcTab()

[2020-05-12 16:44] #56 closed

[2020-05-14 17:25] jayrobwilliams commented on #54
Turns out we only used `coord_flip` in `mcmcCoefPlot`, so I've removed it and updated the `ggplot2` dependency to >= 3.3.0 in `DESCRIPTION` feee9f49eee6b69c505c207a846211c136d8ca52

[2020-05-14 17:25] #54 closed

[2020-05-14 22:45] jayrobwilliams commented on #42
Regular expression matching added for `mcmcTab` (847eece03d22a44af7d8ce62cf2da57c012f1c08) and `mcmcCoefPlot` (02bd8dc6274f1284e569b1e7320284804ba8d9f2). Set to disabled by default for both functions and switched to disabled by default for `mcmcReg`.

[2020-05-14 22:45] #42 closed

[2020-05-27 02:06] jkarreth opened #57 "add more options such as Std. dev. to mcmcReg, beyond CI"
add:

- [x] standard deviation (as in `mcmcTab`)
- [x] p-direction / probability that estimate is in same direction as mean (as in `mcmcTab`)

[2020-06-09 00:21] ShanaScogin opened #58 "Error in Travis with vignettes"
Travis errors when vignettes are built (several different errors depending on the rest of the file - I'll post them when I look at this again). Currently the travis.yml file skips the vignettes

[2020-06-10 12:22] ShanaScogin commented on #50
Hi all - Website is up! Instead of using the github pat, I ended up following this walk through (thank you @jayrobwilliams for the heads up) https://gist.github.com/gaborcsardi/68960fb01bec74d89611bb9c2b0b7e5a - I also had a github ssh issue on my side that I had to fix. I'm going to close this - specific issues about enhancing the website can be made going forward.

[2020-06-11 11:53] andybega commented on #50
Yay! BTW, GitHub has an option to add a repo website URL up top by the description, that'll make it easier to find.

![Screen Shot 2020-06-11 at 14 52 17](https://user-images.githubusercontent.com/1353756/84382345-2850ad80-abf3-11ea-8e29-117d37bacccf.png)

[2020-06-12 02:56] jkarreth opened #59 "fix help file for mcmcCoefPlot"
currently refers to `coefplot`, replace that reference with `mcmcCoefPlot`.

Trivial, but I can't get to it tonight

[2020-06-12 02:56] jkarreth commented on #59
This part at the bottom of the example:

[code]

[2020-06-12 05:44] ShanaScogin commented on #59
I fixed this - was it just the one in the example? If so, feel free to close the issue - if not let me know! Thanks for catching that!

[2020-06-12 10:15] andybega commented on #32
Hello, so with some delay, I now managed to get a first version of this going. Right now it looks like this:

[code]

![](https://i.imgur.com/LSjMkmu.png)

[code]

![](https://i.imgur.com/hPOclta.png)

[code]

<sup>Created on 2020-06-12 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

The alpha values don't seem to work super well with base plot, and maybe there would also be

[2020-06-12 10:17] andybega commented on #32
One question--and sorry for being out of the loop, I see that you guys (@jayrobwilliams?) back in December added `mcmcRocPrcGen()` back in, what's the reason for that? Backward compatibility?

[2020-06-12 12:15] jayrobwilliams commented on #32
Sort of. `mcmcRocPrc()` only works with JAGS objects, so the purpose of `mcmcRocPrcGen()` is to maintain a way to generate ROC and PR curves from all types of model objects. Taking a look at your code, I *think* I can adapt it use our extraction methods that we use in `mcmcTab()` and `mcmcReg()` to handle all types of model objects. The tradeoff is we'll have to ask the user for a bit more informa

[2020-06-12 15:31] andybega commented on #32
What about handling this sort of stuff via methods and classes? E.g. make mcmcRocPr a generic, the current version becomes a method for JAGs objects, the gen method becomes a mcmcRocPr.default or something.

BTW, If I remember right, I changed the internals to reimplement what ROCR was used for before, as it is quite slow when using fullsims = TRUE.

[2020-06-12 15:38] andybega commented on #32
On my phone and don’t remember exactly the details, but could then maybe basically be so that the gen version that requires the model matrix and co becomes the default method, and the .jags method turns into a thin wrapper that extracts the model matrix and then calls the default method with it. In any case, the point would be that the user would not have to chose between two functions, it should

[2020-06-12 16:23] jayrobwilliams commented on #55
Working on this now. I think percentage point change is more intuitive than 0-1, so my vote would be that. However, does that mean we should also have users specify the ROPE from 0-100 instead of 0-1 now? Easy to change, but wanted to check.

[2020-06-12 18:45] jayrobwilliams commented on #57
Standard deviations added in 8de200b0771ef9c54ab9d2c8dc4fd42ac7c7617c. Probability that estimate is in the same direction as the mean will probably take some regex magic to do since `texreg` only supports SEs and CIs under estimates.

[2020-06-12 19:35] jayrobwilliams commented on #57
Probability of direction was easier than I expected, that's in db88052. I'll close this issue once I've written new tests for both functionalities.

[2020-06-12 20:07] jayrobwilliams commented on #57
Tests written in 4d6ccf5. Now I just need to get my hands on a BUGS model object and `mcmcReg` can have prefect testing coverage!

[2020-06-12 20:07] #57 closed

[2020-06-13 02:51] jkarreth commented on #59
Yup, I only came across this in the help file. Since you already addressed this, I'll leave it alone. Can't find this in the master or develop branch though - but as soon as you've implemented it for the next version to go to CRAN, @ShanaScogin,  please feel free to close. Thanks! Johannes

[2020-06-13 02:52] jkarreth commented on #55
Agreed @jayrobwilliams - let's change ROPE to 0-100 as well. If you can tackle that, great - if not, let me know and I'll update.

[2020-06-13 02:55] jkarreth commented on #57
Super!

@ShanaScogin, please add this to the next deploy to CRAN - seems like the updated version is currently in `feature/mcmcReg` but should be moved to the `developer` or `master` branch? (Might also be my lack of understanding of Github.)

[2020-06-13 04:37] ShanaScogin commented on #59
Great - I had fixed it in the R file but not run devtools::document() yet, but have now. We should be good to go!

[2020-06-13 04:37] #59 closed

[2020-06-13 12:04] jayrobwilliams commented on #55
Sounds good. be01e4865 changes percentage point change and ROPE to 0-100. It also creates and `mcmcFD` class and implements `print()` and `plot()` methods.

[2020-06-13 12:04] #55 closed

[2020-06-13 14:11] jayrobwilliams commented on #57
@jkarreth as collaborators on this repo, we can both merge. I've just merged the updates from `feature/mcmcReg` into `develop` in 56468bc.

[2020-06-13 14:13] jayrobwilliams commented on #16
Added a print method for `mcmcFD` in be01e48.

[2020-06-13 14:57] ShanaScogin opened #61 "Increase code testing coverage"
Increase testing coverage (can see with codecov)

[2020-06-13 16:35] ShanaScogin opened #62 "Update documentation for FD plotting"
Update documentation for new FD plot functionality. Include note on depreciating mcmcFDplot() in examples

[2020-06-13 17:55] jayrobwilliams commented on #62
Updated documentation and deprecated `mcmcFDplot()` in 7774e62. It doesn't have an explicit note in the documentation, but is marked as deprecated and will throw a warning. Take a look at the and let me know if this is good to close out.

[2020-06-13 17:59] ShanaScogin commented on #62
Awesome - looks great - I think all that's left is the vignettes and readme

[2020-06-13 18:02] jayrobwilliams commented on #62
I've already done the vignette, but I'll do the README now.

[2020-06-13 18:02] #62 closed

[2020-06-13 18:04] ShanaScogin commented on #62
Awesome - Do you want to do BayesPostEst.R as well? I _think_ it might be good to put a note about the depreciation there as well rather than deleting it from the list completely yet, but I think either way would probably be fine.

[2020-06-13 18:16] jayrobwilliams commented on #62
Added to `BayesPostEst.R` and added a note about deprecation in NEWS in f6995d3.

[2020-06-15 11:52] andybega commented on #32
Hey, I cleaned up what I had so far in `mcmcRegPrc()` + methods since it addresses the original issue.

I have a bit of time to contribute more, @jayrobwilliams is it ok with you if I take this on?

[2020-06-15 13:21] jayrobwilliams commented on #32
Sure! I think the goal should be that no matter what type of object a user passes to `mcmcRocPrc()`, the required arguments are the same e.g., right now `mcmcRocPrc()` extracts the link function from the model via regex but `mcmcRocPrcGen()` requires the user to specify it as a string. If you can figure out a way to grep the link function out of every type of model object, then we should stick wit

[2020-06-15 20:28] jayrobwilliams commented on #61
Started on this with
- `mcmcReg()`: 88e1039efdbd5c31d89089b9b95d79f45a797175
- `mcmcFD()` and `mcmcTab()`: 5e893efa856dc88599ce988c1eee076a418778a9
- `mcmcCoefPlot()`: ce8200feedb2734ed3cd1aed4f02f27d3aecd38a

[2020-06-16 08:25] andybega commented on #5
Hello, I'll work on tackling this. TBC, I'll aim to make `mcmcRocPrc()` work with the four types of model objects that are currently in the package readme:

- [x] JAGS
- [ ] BUGS
- [x] MCMCpack
- [x] RStan
- [x] rstanarm
- [x] runjags
- [x] brms

Any other kinds of objects?

Also, is there a need to also have a version for the model matrix-style interface in [mcmcRocPrcGen()](https://github.com/Sh

[2020-06-16 08:31] andybega commented on #32
Alright. I guess this generalization is already covered by #5, I sketched out a plan there and will try to see if this automatic link extraction, etc. can also be done for the other types of objects.

If I manage to come up with any general solutions that touch on #43 I'll try to make a mention there as well.

[2020-06-16 12:19] andybega opened #64 "R check errors for documentation examples"
A couple of the examples in documentation files are not working. The examples are wrapped in `\donttest{}`, so I guess they don't show up in the CRAN R checks, but locally for me they do show up as a R check ERRORs (with `--run-donttest`).

A couple were in the data documentation files, but there are others as well.

In the data documentation try to do `as.list(data)`, where `data` is not defined.

[2020-06-16 12:21] andybega commented on #64
Wups

![Screen Shot 2020-06-16 at 15 21 10](https://user-images.githubusercontent.com/1353756/84773403-09805b80-afe5-11ea-8e0c-dc2c6660c632.png)

EDIT: ok, actually most of these do create `data` objects.

[2020-06-16 14:49] jayrobwilliams commented on #5
I think the only other one is brms. I don't see a need to keep the matrix interface if we can figure out a way to extract the samples and subset to the required ones. What are your thoughts @ShanaScogin @jkarreth?

[2020-06-16 19:57] jkarreth commented on #5
I agree, @jayrobwilliams. We just need to be able to create predictions $(Pr (y = 1))$ from whatever the input is. From what I remember, that was a challenge - though not insurmountable.

Easy for rstanarm: `rstanarm::posterior_linpred(rstanarm_object, transform = TRUE)`.

Thanks all!

[2020-06-16 20:05] jkarreth opened #66 "Do we need to require rjags? Forces users to install JAGS, seems cumbersome"
Just coming across this now while teaching using Stan. Several participants report this error message when installing BayesPostEst:

[code]

rjags generates this error. It's a sensible one, but an unnecessary step for users who never use JAGS.

I'm sorry about my bad memory, but I recall that CRAN asked us to require installation of rjags because it shows up in the vignette, is that possible? If t

[2020-06-17 12:00] andybega commented on #66
[This stackoverflow question](https://stackoverflow.com/questions/9899943/is-it-possible-to-use-non-imported-packages-in-a-package-vignette) suggests that it might be ok as long as **rjags** is in the DESCRIPTION Suggests, not Imports??

That should allow the package to load without causing an error if JAGS itself is not installed, but maybe the vignette will need some changes, e.g. some variant o

[2020-06-17 16:59] jkarreth commented on #66
Sounds good to me! @ShanaScogin would you agree that moving rjags to Suggests should work? Or was there a CRAN request that I'm forgetting?

[2020-06-17 17:03] ShanaScogin commented on #66
I think it sounds great - I honestly can't remember if there was an error or something thrown up at some point, or if it got moved in some mass shuffle. I'll mess with the description and vignettes following @andybega's suggestions this afternoon.

[2020-06-18 21:30] ShanaScogin commented on #66
Hi both - Looks like we already have rjags in Suggests. Not having it there will probably throw an error, but I can mess around with it/google a bit more

[2020-06-19 02:02] jkarreth commented on #66
You're right @ShanaScogin !

But I just noticed that we _do_ require R2jags, which in turn depends on rjags. Ugh!

Can we do without R2jags? I thought the sole reason for it is `mcmcRocPrc`, right? @andybega and @jayrobwilliams , another reason to follow your lead and replace it with `mcmcRocPrc`. However, I don't even think we technically not need R2jags for `mcmcRocPrc` even if it only takes rja

[2020-06-19 08:58] andybega commented on #66
I played around with the last commit on the develop branch.

I don't think in principle there should be an issue with moving all packages that require additional software like JAGS to be installed from Imports to Suggests. This is what for example **ggmcmc** seems to be doing. *However*, it seems there will have to be some changes in various portions of the package.

For example, I changed DESCRIP

[2020-06-19 09:17] andybega commented on #66
Ok, never mind. I guess since `mcmcReg()` & co directly dig into "rjags" object internals or import the method from the namespace for runjags, it was only necessary to add `library(R2jags)` in 2 files. [Seems to be working](https://travis-ci.com/github/andybega/BayesPostEst/builds/172180606), I'll make a pull request.

[2020-06-19 16:16] ShanaScogin commented on #66
I approved the pull request and am checking it - I'm getting some errors in devtools::check with the vignette building, which was probably missed because Travis isn't checking the vignette right now.

[code]

I'm going to focus on fixing the Travis issue first (assigned myself yesterday) and then I'll look at this closer. Thanks for the help, both!

[2020-06-19 16:18] ShanaScogin commented on #64
Hi @andybega - This is great - Did your pull request address these, or are there more to look out for?

[2020-06-20 09:53] andybega commented on #66
Weird, I also did R check with devtools on my laptop, and it rebuilt the vignette successfully. Do you have R2jags installed?

[2020-06-20 09:55] andybega commented on #64
Hi, this should have been all of them, and I checked on my laptop with devtools check in addition to Travis. Fingers crossed.

[2020-06-20 17:04] ShanaScogin commented on #66
Ah I'll check again - I used it last night so I definitely have it now, but I suppose it is actually possible I didn't have it yesterday . I recently updated my R and am trying a new thing were I only reinstall packages I need per a tweet suggestion I saw. I don't know if I'd recommend it.

[2020-06-20 17:06] ShanaScogin commented on #64
Awesome! I'll keep my eye out too, then!

[2020-06-20 17:06] #64 closed

[2020-06-20 18:41] ShanaScogin commented on #66
You're right! My bad - everything now is passing in develop now. I'm still working on the vignette issue in another branch, but it shouldn't affect anything anyone is doing. Unless @andybega has any more suggestions, do you want to check and close this @jkarreth?

[2020-06-20 19:55] jkarreth commented on #66
Sounds good! I'll try to install the develop version on a third party computer first (with  fresh install of R), then will close this issue. Thanks so much to both of you for working on this.

[2020-06-20 22:22] jkarreth commented on #66
Yay - just tried this on a computer that had R but not JAGS installed. The develop branch installed fine; it just just returned the warnings below (which, I think, are sensible, so we can leave as is):

[code]

So I think this can be closed once we've moved develop to master and then to CRAN. Thank you again!

[2020-06-21 07:54] andybega commented on #66
I have two ideas/suggestions:

What about adding a bit of code to the vignette that checks for the presence of the packages listed in Suggests, but not Imports, and which are needed to knit the vignette? Basically something that would prompt a user to install them.

The second one I’m not really sure about: does it make sense to add some kind of similar check for the presence of JAGS/rjags when th

[2020-06-21 19:46] jkarreth commented on #66
I like these ideas;

so something like, `To reproduce examples using JAGS as seen in the vignette, please install JAGS from ...` ? That could work.

Or we just change all the examples to MCMCpack, which I believe would be the least-complex package to allow for estimating models for examples.

I think that's useful for the parts that *do* require JAGS/rjags - but I think that's only the examples no

[2020-06-22 09:09] andybega commented on #32
BTW, is this issue good for closing?

[2020-06-22 13:03] jkarreth commented on #32
Yes, with all the upgrades to [mcmcRocPrc.R](https://github.com/ShanaScogin/BayesPostEst/blob/develop/R/mcmcRocPrc.R) this is definitely addressed. Thank you for taking care of these!

[2020-06-22 13:03] #32 closed

[2020-06-25 07:35] andybega commented on #66
Yeah, I think this is already enough to spawn a couple of new issues.

Yep, just the examples and vignette.

Instead of a specific modeling/sampling "engine" like MCMCpack or JAGS, what about just straight up "mcmc" or "mcmc.list" objects? I mean the functionality that this package adds is for post processing of results, so how the posterior samples were obtained (/modeling) doesn't really matter.

[2020-06-30 01:36] jkarreth commented on #66
That's a good point, and should work! As long as the mcmc object is set up similar to output from the Bayesian estimation packages we support (that is, the first set of columns are parameters such as `b[1]`, `b[2]`, etc.), this should indeed work.

If anyone wants to take a stab at this, please do. Otherwise I'll get at this ASAP. For my own sake, here is what I think needs to be changed in order

[2020-07-02 11:22] andybega commented on #66
I'm using a couple for testing. If nothing else, they can be moved to `tests/testdata` / `tests/testdata-raw`, with some corresponding adjustments in tests that currently use `data(...)`.

[2020-07-02 16:45] ShanaScogin commented on #5
I approved this merge but I don't want to close until @jkarreth can take a look. I'm going through it now to catch up - it all looks great. It's too bad about no method to accommodate R2WinBUGS, but the only time I have encountered R2WinBUGS was in coursework, so I think it might be best to leave it behind unless anyone else has thoughts.

[2020-07-02 17:20] andybega commented on #5
Yeah. If one of you can add an example logit model from R2WinBUGS, I'm happy to add a method for it. I just didn't want to deal with trying to install OpenBUGS or WinBUGS.

[2020-07-04 05:39] #58 closed

[2020-07-09 14:38] jkarreth commented on #5
I added a BUGS object representing output from a logit model: [data/bugs_logit.rda](https://github.com/ShanaScogin/BayesPostEst/blob/master/data/bugs_logit.rda)

This was created by adapting [data-raw/jags_logit.R](https://github.com/ShanaScogin/BayesPostEst/blob/master/data-raw/jags_logit.R) to R2OpenBUGS.

(Note that the actual script to create `bugs_logit.rda` is not on Github, I asked someone

[2020-07-10 11:02] andybega commented on #5
`data-raw/` is not a requirement for CRAN, so I think that's ok.

After taking a quick look, I think so. As long as the data that went into it are equivalent to the jags logit example (looks like the bugs object doesn't contain a copy of the data, so it'll have to be manually passed to the function, like some of the other input methods).

Could one of you though merge the `master` branch where thi

[2020-07-10 11:07] andybega opened #69 "add mcmcRocPrc method for BUGS input"
This is the last item in #66. Make the new `mcmcRocPrc()` on develop work with input objects of class "bugs", generated by the package R2WinBUGS.

However, since the `mcmcRocPrc()` changes have already been merged into your `develop` branch via #68, I think it's safer if I make this change in a new feature branch / eventual pull request on my end. (I don't know that much about git and working with

[2020-07-10 11:08] andybega commented on #69
(It's gonna take me a few days to get to this, probably)

[2020-07-10 14:27] jkarreth commented on #5
Yes, that's correct - the call to bugs used the same data as the jags logit example

[2020-07-12 18:05] ShanaScogin opened #70 "Figures in website"
Get figures up on the website

[2020-10-21 10:18] andybega opened #72 "Refactor mcmcRocPrc prediction generation code"
A couple of methods, for input objects that don't already include the predicted values, duplicate a similar pattern:

1. Assemble the bits needed to calculate predicted probabilities from the object and explicit input arguments
2. Calculate the predicted probabilities
3. Call `new_mcmcRocPrc()`

That second step is common to all of these and could be pulled out to avoid duplication and potential e

[2020-10-21 11:14] andybega opened #73 "Installing V8 package fails on Travis-CI"
This is the error showing up on both the master and develop branches, and the pull request I submitted.

[code]

[2020-10-23 20:38] ShanaScogin commented on #73
Unless I'm missing something, it's passing now - I wonder if it isn't a Travis thing. Master/main failed a few months ago as well though it had passed with the same commit previously. I'll keep an eye out for it.

[2020-10-24 09:53] #69 closed

[2020-10-24 09:57] andybega commented on #73
Yeah, maybe. This V8 thing is new. There were also two other minor issues that caused build warnings (inits values in one of the doc example calls to run.jags, and documentation for the BUGS example object that Johannes added).

I guess if you merge `develop` into `master` the latter should work again as well.

[2020-10-25 01:27] ShanaScogin commented on #73
I actually took out the BUGS example and reverted master/main to the version that passed and it still failed, but ya point taken. I might go ahead and merge this one just to see. Fingers crossed.

I had made a branch with the BUGS example object with the intention of finding if there was something throwing Travis off there as well, but I might go ahead and delete that if you've put everything need

[2020-10-25 06:55] andybega commented on #73
I added Johannes' commit with the BUGS example in (with `git cherry-pick`) to the stuff that is now in `develop`, so it should work...fingers crossed.

[2020-10-27 05:01] ShanaScogin commented on #73
~~Green checks at the moment!~~ Had a nondescript error with commit 11dfd0f8d760f2bd12f999f0a044b190b662dd3f, but a commit later (minor conflict fix - nothing to do with Travis) and it's fine. I'll leave it up to you if you want to close the issue - I imagine we'll probably see something funky like this again in the future, but I'm not totally sure what to do about it.

edit: It failed again tonig

[2020-10-28 01:45] ShanaScogin commented on #70
I'm working on getting the images up in the readme first before I tackle the website. RMD readme file is working with the badges commented out in 2a67a82fe41789156ca0b466c14ef9d9e0d1c96b. With the badges in, I get the following error upon knitting.

[code]

[2020-10-28 05:35] ShanaScogin opened #74 "Travis not pushing to gh-pages"
~~Travis checks are passing,~~ but it's not pushing to gh-pages.

Update: They were passing but now are not with a `failed to deploy` error

[2020-10-28 14:18] jayrobwilliams commented on #70
Is this locally? What pandoc version are you running? I can knit `README.Rmd` without issue and I've got pandoc 2.10.

[2020-10-28 22:00] ShanaScogin commented on #70
Awesome - you're right. I'm not sure what version I was on, but an update fixed it. I'm going to see what's up with Travis in issue #74 and then get back to this.

[2020-11-08 07:26] ShanaScogin commented on #28
Right now the required objects for mcmcObsProb and mcmcPredProb are pretty clunky. If I remember correctly, there was an issue with changing this, however, since we don't know how the model object will have the variables named. Just a thought as I'm looking at this again, but I wonder if we can get the required arguments to be more intuitive as we update these for mlms.

[2020-11-08 22:38] jkarreth commented on #28
Thinking out loud for a second: if I compare this to more convenient functions for similar quantities (e.g. the [effects](https://github.com/cran/effects), [margins](https://github.com/leeper/margins/tree/master), or [easystats](https://github.com/easystats) packages), those packages all process model objects. It's easy to refer to specific parameters if the model object is known in advance.

But

[2020-11-08 22:50] ShanaScogin commented on #28
That makes perfect sense - I love the idea of including the model equation. I wonder - should I start on a function for rstanarm/brms/MCMCpack and if something comes to you for jags, etc we can fold it in?

[2020-11-09 03:13] jkarreth commented on #28
I think that would be cool (if you have bandwidth to do it). Since rstanarm & brms are the most frequently used tools today, I think it might make most sense to focus on them. Both have the model formula as part of the model object, so working along the [effects](https://github.com/cran/effects), [margins](https://github.com/leeper/margins/tree/master), or [easystats](https://github.com/easystats)

[2020-11-09 03:15] jkarreth commented on #28
Somewhat relatedly, once we get to the MLM part, I think it'll be good to revisit your initial question at the beginning of this thread (perhaps via  Pavlou et al. 2015 [(link)](https://doi.org/10.1186/S12874-015-0046-6)). I just had that question come up in the discussion of a paper, so thinking through it should be beneficial.

[2020-11-09 03:43] ShanaScogin commented on #28
Great! I'll take a look at effects, margins, and easystats for sure - that sounds perfect. I am not 100% sure about bandwidth, but I have been wanting to use mcmcObsProb for one of my mlm side projects, so I am hoping to work on both at the same time. (The project got sidelined while I reworked my dissertation bc of covid, but I think I'm getting back into the game.) I'm not going to be moving qui

[2020-11-09 13:34] jkarreth commented on #28
Sounds good! If needed, and as a quick fix perhaps, what I've done so far is the approach that Pavlou et al. 2015 [(link)](https://doi.org/10.1186/S12874-015-0046-6) critique: set all "random effects" (varying intercepts) to 0 and build predictions just based on the "fixed effects", ignoring the between-group differences.

[2020-11-12 17:16] jkarreth commented on #53
FWIW (though you'll most likely have a much better, generic way handling this), I'm doing the following for rstanarm models now (realizing that this doesn't extend to other estimation tools, so we'd have to feed the model matrix a different way):

[code]

[2020-11-12 17:22] jkarreth opened #75 "add Pr argument to mcmcReg, analogous to mcmcTab"
A nice-to-have: add the `Pr` (percent of posterior draws with same sign as median) argument to mcmcReg, so that it can be printed under the median of the posterior (like the SD or HDPI).

The easystats package has this implemented in some way:
<https://easystats.github.io/bayestestR/reference/p_direction.html>

Similarly, we could also add the percent outside the ROPE, like easystats does ([here](

[2020-11-24 21:13] ShanaScogin opened #76 "Migrate away from travis-ci"
Whelp: https://www.jeffgeerling.com/blog/2020/travis-cis-new-pricing-plan-threw-wrench-my-open-source-works

Thanks @jayrobwilliams for calling attention to this.

[2020-11-24 21:14] ShanaScogin commented on #74
Closing this since moving away from Travis #76

[2020-11-24 21:14] #74 closed

[2020-11-24 21:15] ShanaScogin commented on #73
I'm going to go ahead and close this since we're going to have to move away from travis (see issue #76 for updates on that)

[2020-11-24 21:15] #73 closed

[2020-12-21 02:22] ShanaScogin opened #77 "check suggested packages"
Per email from CRAN:

[2020-12-21 02:40] ShanaScogin opened #78 "winbuilder error"
There seem to be a new winbuilding error (see below). I'm not sure if this is related to the email from CRAN in #77 yet. Will update soon.

[code]

(Also thanks to Naidan for pointing it out!)

[2020-12-21 02:53] ShanaScogin commented on #76
@jayrobwilliams, you pretty much did this so I think I'll close this issue. I think I still should move the website away from travis, but we still have #70 open, so I'll fold it into that.

You're the best! Thanks!!

[2020-12-21 02:53] #76 closed

[2020-12-21 08:09] ShanaScogin commented on #78
Quick update: lines 205-211 in the vignette is `stan()` from rstan

[code]

[2020-12-21 11:38] ShanaScogin commented on #77
Added conditional in 99c6e7b57e00a8c4005f9741bd210fae63f74f0c. Winbuilder doesn't have any warnings, though now I'm getting a NOTE with some other dependency issue with MCMCpack. Will update on that.

`Package unavailable to check Rd xrefs: 'MCMCpack'
`

(Also thanks to this issue in bayestestR for the conditional code! https://github.com/easystats/bayestestR/issues/276)

[2020-12-21 11:42] ShanaScogin commented on #78
~The warning seems to have been fixed with 99c6e7b57e00a8c4005f9741bd210fae63f74f0c, though now a NOTE exists. Since it does seem to be related to #77, so I'm going to go ahead and close this.~

Leaving this closed, but the issue seems to be with rstan. I have commented out the rstan code in the vignette with 9140772504402f448511ccff0186661bf1b6188c until it clears up.

[2020-12-21 11:42] #78 closed

[2020-12-21 13:30] ShanaScogin commented on #77
~Never mind - warning is back up.~

~edit: I'm wondering if the warning (same as in #78) is a makefile issue specific to rstan. Not sure exactly what could be going on in BayesPostEst that would do that, but I'll keep looking.~

I'm striking this out bc I'm pretty sure it's not related to this.

[2020-12-21 13:41] jayrobwilliams commented on #70
Figures work in the [vignette](https://shanascogin.github.io/BayesPostEst/articles/getting_started.html) but not in the [README](https://shanascogin.github.io/BayesPostEst/). They also work in the reference pages for function documentation. That might be a starting point.

[2020-12-27 03:59] ShanaScogin commented on #28
This reading is super great - thanks!

edit: Ok, so I am still thinking options might be good for the two ways in Pavlou et al 2015. (Also found this, which seems great: https://www.statalist.org/forums/forum/general-stata-discussion/general/1304704-cannot-estimate-marginal-effect-after-xtlogit)

edit2: saving this as something to refer to: https://www.rdocumentation.org/packages/glmmTMB/versions/

[2021-01-03 19:33] ShanaScogin commented on #77
Looks like ggridges, which is used in `mcmcFD()` is the last one on this list that we don't use conditionally. I'll check out their github to see what they're doing since I'm not sure how we'd remove it from `mcmcFD()`

ggplot is on the list, too - really confused by this.

[2021-01-03 23:25] ShanaScogin commented on #77
Woo! Looks like this should be solved - it was a small test hiccup that everyone is sorting out, so I'm going to push this release with the minor dependency and conditional changes, and hopefully that's it for now! (Latest commit in this whole ordeal is 430cf33c7444e6c2b81206fb9278a8b9174771ff - and yes, I need to learn to squash and stop with the typos....)

[2021-01-04 00:19] ShanaScogin commented on #70
They do currently work in the readme - at least on github. I added an rmd file a while back that fixed that. We were set up for travis to be pushing for the website, so there might be something in that that's not rendering the images. Will update soon.

[2021-01-05 17:30] ShanaScogin commented on #77
Going to reopen this and fold in the to do list from the release that is trying to push this

- [x] fix https URLs
- [x] fix size of tarball - currently 6177904 bytes - needs to be not more than 5 MB
- [x] fix doi URL

[2021-01-05 17:31] ShanaScogin commented on #77
@andybega @jayrobwilliams @jkarreth - Thoughts on size?

[2021-01-05 17:40] ZenPylon commented on #77
Over half of the memory footprint appears to be test data:

<img width="1229" alt="Screen Shot 2021-01-05 at 11 38 20 AM" src="https://user-images.githubusercontent.com/1970004/103679640-b521d680-4f4a-11eb-913c-2e801176eddf.png">

Not sure what the best solution, but if the test data is necessary, perhaps it could be compressed in the repo and then decompressed at test runtime?

[2021-01-05 18:57] ShanaScogin commented on #77
Looks like there are two data & data-raw: 1.) one in test and 2.) one in the main folder. I need to see what the data in the main folder is for, but if it's for examples, maybe we can pre-run and then remove that?

[2021-01-06 01:31] ShanaScogin commented on #77
I'm seeing these data are used for tests and examples. I'm looking more into this and I'm guessing we decided to include the data so that there wasn't so much simulation code (maybe also for run time). Perhaps we can 1.) include a separate vignette with all the examples and the simulation code that the main function documentation can point to, 2.) delete the data for the examples, 3.) only have on

[2021-01-06 07:59] andybega commented on #77
I don't think `test` and `data-raw` are included in the built package, i.e. they don't count against that 5MB note.

[2021-01-06 08:05] ShanaScogin commented on #77
@andybega - Thanks! I was hoping that, too, but they do seem to, unfortunately. I don't know if it's new, or if there's something else I need to do to make sure of that? I'll look more into it soon. Anyway, I didn't touch those for now - I just messed with the ones in the main folder. So:

1.) I removed the .rda files for a.) two bugs models, b.) the runjags interactive model, and c.) the mcmcpack

[2021-01-06 08:07] andybega commented on #77
I was just looking through `.Rbuildignore` and I was wrong, `tests` is included in the package.

Hey, btw, did you manually rename `master` to `main` or did GitHub do that? Trying to figure out how to update my fork ATM.

[2021-01-06 08:11] ShanaScogin commented on #77
Oof - too bad - I'll def make it a to-do to figure out something since having the static objects really does help for some of them. We might could make a supportive package that just lives on my github maybe? I'll see.

And ya! Sorry about that - there is a section in here that worked for @jayrobwilliams, I'm pretty sure: https://www.git-tower.com/learn/git/faq/git-rename-master-to-main/

[2021-01-06 08:41] andybega commented on #77
Thanks. I think I got it working again with `main` now.

[2021-01-06 08:50] andybega commented on #77
Just updated `main` with your latest changes and I get a clean R check now as well (no NOTE about 5MB).

FWIW, looking at the built package tarball, seems that the BRMS and RStan logit examples in `tests/testdata` are the big size offenders. Maybe it's possible to cut some elements from those objects that are not really needed in the tests. (Like how you can reduce the size of a fitted GLM model b

[2021-01-06 08:52] andybega opened #79 "Reduce test data size?"
The test data is the main contributor to overall package size, pushing it close/over the 5 MB limit that generates R check NOTE. Is is possible to cut down the size of some of these object, or eliminate them?

From https://github.com/ShanaScogin/BayesPostEst/issues/77:

[2021-01-06 15:18] jkarreth commented on #77
Thank you for correcting this @ShanaScogin and sorry to be late to this.

I can put that on my agenda.

[2021-01-06 16:08] jayrobwilliams commented on #79
I think it should be possible to save fewer samples on those objects at the very least. I'll look at that today.

[2021-01-06 17:01] jayrobwilliams commented on #79
I've cut the size of `rstan_logit` approximately in half by not saving warmup iterations. I've done the same and gotten `brms_logit` down to 288.8 kb in R, but when I save either of them, the resulting `.rds` file barely shrinks. I'm going to poke around a bit more and see if I can figure out what's going on here.

This is known behavior depending on the sparsity/complexity of vectors and matrices

[2021-01-06 18:22] ShanaScogin commented on #77
Hi @jkarreth! No worries! I know it's the holidays - I just wanted to get this done so we don't get kicked off again! I'll start a file after I finally get this release accepted with the simulations you and Andy already made, and perhaps you can build on it if it's not enough? I'm doing another project where I need to simulate some stuff and I have loved to come across how-tos, so I think it'd be

[2021-01-06 18:35] jayrobwilliams commented on #79
Managed to shrink them a bit.
<img width="564" alt="Screen Shot 2021-01-06 at 1 32 56 PM" src="https://user-images.githubusercontent.com/12078284/103807010-cd195900-5023-11eb-89db-4d33717981f8.png">

This passes `devtools::check()` on my machine with no issues. @ShanaScogin can you check it with winbuilder, etc.? Changes are in https://github.com/ShanaScogin/BayesPostEst/commit/dfed862bbbb8be8c1d8

[2021-01-06 18:40] ShanaScogin commented on #79
Ya! I'll do! If yall want to try with the ones in the main folder, that'd probably also be good. I deleted the bugs ones, the interactive ones, and the mcmcpack ones, but the code is still in the data-raw to run and re do the files.

![image](https://user-images.githubusercontent.com/26779067/103807599-a0b20c80-5024-11eb-959a-3d921512a3d2.png)

[2021-01-06 21:43] ShanaScogin commented on #77
Ok! Second attempt at a release for this week has been sent! I did have to comment out a couple of the tests I had just written that simulate in real time - so that might drive home how challenging simulating some of this data for the tests can be. If this release goes through, I'll start helping with the effort to making the objects smaller/finding another solution!

[2021-01-08 18:44] ShanaScogin commented on #77
Gah. I thought I caught everything (check_rhub() finds more than winbuilder, which finds more than cmd check) but they found one more. They don't mind the https://doi.org/10.2139/ssrn.2765419 format in any other documentation but seem to mind it in the `mcmcRocPrc` documentation. It wants doi/10.2139/ssrn.2765419 I guess?

After I change this, I will resubmit it (fourth time's a charm...)

Edit1:

[2021-01-08 19:32] jkarreth commented on #77
I think you're right - that (using `\doi{ ...}`) is the only solution I can find as well!

<s>Similar issues would then appear in

- R/mcmcObsProb.R
- R/mcmcRocPrcGen.R
- R/mcmcTab.R
- R/mcmcFD.R

Do you want to change these as well? If it helps, please let me know and I can edit those soon (tonight) </s>

Second thought - you say that they didn't mention any other instances of doi, so probably no

[2021-01-08 19:36] ShanaScogin commented on #77
Oh nooooooooooooooo for real? They're only flagging that one, haha. Gah.

I think you're right - I'll submit this one, and if it works, I'll change the others for the next one. I'm ngl though I'm a bit frustrated since I can't find a check that finds these, so I just keep releasing and waiting a day. D:

Thanks for pointing those out!!

[2021-01-09 17:20] jayrobwilliams commented on #79
It also looks like `jags_interactive_cat`, `jags_interactive` and `jags_probit` are only used in tests; should I move them to the test data folder? At this point, `jags_logit` is the only one used in function documentation examples.

[2021-01-09 22:17] jayrobwilliams commented on #75
Turns out I did this (mostly) back in db88052c48ff17503589292dab5436717e622dcc and I just made it so the the code automatically uses the correct point estimate (mean or median) in the calculation in fe2cb41f957fdef8c0773285c002a16b87e67ee3. Once we get this current release approved on CRAN I'll merge fe2cb41f957fdef8c0773285c002a16b87e67ee3 into develop.

[2021-01-09 22:17] #75 closed

[2021-01-10 04:23] ShanaScogin commented on #77
Okay! Deleted last comment bc it was useless, but latest release is out the door! Note to future self- make sure you're using winbuilder develop, not release (every time!). (My bad.)

I'll get working on the doi stuff in the other documentation and start on the educative/example simulation vignette. I also look forward to seeing what we can do with the size/objs/tests.

Happy new year everyone!

[2021-01-10 04:23] #77 closed

[2021-01-10 18:26] jkarreth commented on #75
Fantastic! Thank you @jayrobwilliams  for doing this.

[2021-01-10 19:51] ShanaScogin commented on #79
@jayrobwilliams Ya great idea! Since the test files still make it into the CRAN build, it won't help the size issue, but I think it makes sense for organization, personally. Up to you.

[2021-01-14 20:04] jayrobwilliams commented on #70
Fixed in 886bc14. Found out in https://github.com/r-lib/pkgdown/issues/280 that only the contents of`vignettes` and `man/figures` are copied by pkgdown. I added a `fig.path` to `README.Rmd` and that *should* fix it given that I did the same on the pkgdown site for my package and it's working. Let me know if this works the next time you merge develop into main, @ShanaScogin

[2021-01-14 20:10] ShanaScogin commented on #70
Heck ya!! You're the best! I'll set aside a few hours this weekend to do this and some other package logistical stuff this weekend and let you know. Super awesome!

[2021-01-15 17:23] jayrobwilliams commented on #70
As an added bonus, this should fix images in the README on CRAN...

[2021-04-09 06:44] ShanaScogin opened #80 "Cran R Version Issue"
email from cran:

[2021-04-21 14:14] jkarreth commented on #80
I'd be ok with declaring `Depends: R (>= 4.0.0)`!

[2021-04-28 01:21] ShanaScogin commented on #80
Nothing else has been emailed so perhaps I'm going to close this for now. I'm wondering if there was something in our imports that fixed it? I'll keep my eye on it.

[2021-04-28 01:21] #80 closed

[2021-05-26 01:49] jkarreth opened #81 "mcmcFDplot multiplies FDs by 100 twice (but should only once)"
just noticed this while teaching... see [here](http://www.jkarreth.net/files/bayes-icpsr-lab4.html#First_differences)

I need to remove the *100 at **one** of the two locations, `fdfull  <- fdfull * 100` or `scale_x_continuous(labels = function(x) x  * 100)`. Probably the latter!

Will update this issue when I've fixed this and updated in the develop branch (ok, @ShanaScogin ?)

[code]

[2021-05-26 12:27] jkarreth commented on #81
Ohh, not a bug at all... I hadn't updated to using plot.mcmcFD instead. My bad 😔

[2021-05-26 12:27] #81 closed

[2021-06-02 16:06] ShanaScogin commented on #28
Saving here for later reference: https://www.cambridge.org/core/journals/political-analysis/article/understanding-choosing-and-unifying-multilevel-and-fixed-effect-approaches/8101D49CFD3B129F5753FC878F416980

[2021-09-15 15:40] ShanaScogin opened #82 "Cran issues to resolve"
Email is below:

Seems to be an rjags and/or r2jags issue

I will work on this this weekend to get ahead of the 10/5 drop off date.

[2021-10-07 21:00] ShanaScogin commented on #82
I couldn't find the problems in time (and the errors have changed) and it was thrown off cran. Will work on this this weekend. Still getting github check error from some website stuff (that was ok in dev) from Rob's fix, so I'll check both of those out, fix, and resubmit.

[2021-10-10 13:52] jkarreth commented on #82
Argh, I saw this too late, my apologies. Let me know if I can help.

If it's at all useful, should we remove/replace the examples in data-raw that rely on R2jags/rjags? Seems like those have created dependency issues in the past?

[2021-10-11 13:16] jayrobwilliams commented on #82
I'd be fine removing any examples/tests that use R2jags. Do we have any sense what the most common R packager for JAGS is these days? It could make sense to just stick with that and make all of the others fully optional.

[2021-10-11 13:31] jkarreth commented on #82
Based on download counts, it would be rjags, so we could replace all uses of R2jags with rjags.

That said, all of the jags interfaces (rjags, R2jags, runjags) seem to be updated fairly regularly.

@ShanaScogin , if/when you get a chance to identify the errors, please feel free to get me/us to contribute fixing them especially if this is dependency related...

[2021-11-05 04:15] ShanaScogin commented on #82
@jayrobwilliams did all the heavy lifting. I edited a few urls and submitted. Will update when accepted.

[2021-11-05 04:20] #70 closed

[2021-11-05 04:21] ShanaScogin commented on #70
Seems to be fine - the check fails are gone with pull #83

[2021-11-05 04:23] ShanaScogin opened #85 "clean up citations in readme"
Right now citations in readme are manual - if it's possible to throw in a bib file for this, it would be much easier to manage the urls going forward

[2021-11-07 17:02] ShanaScogin commented on #82
Thrown back with some fails. I'm cleaning up the errors found with cmd check with the suggested environ variable R_CHECK_DEPENDS_ONLY_

`devtools::check(pkg = ".", env_vars = c(R_CHECK_DEPENDS_ONLY_="true"))`

[2021-11-08 14:59] ShanaScogin commented on #82
Added a lot of interactive() conditionals to not run the code in CRAN checks (need to make sure this doesn't mess up some testing, but we have an issue open for that so I think it's fine for now) in 9c87c7a. The check with the env var passes on my end, yet CRAN is still having issues. Per their email:

There is a library(R2jags) in the tests, but I didn't want to flag that to not run if not intera

[2021-11-08 15:01] jayrobwilliams commented on #82
What platform is this error happening on?

[2021-11-08 16:30] ShanaScogin commented on #82
I can't reproduce the error personally - but I think we shouldn't remove the examples just yet. I've made it to CRAN can't see it - I'll mess with it more now and update you

[2021-11-08 17:03] ShanaScogin commented on #82
So, what seems to be happening is that R2jags *isn't* needed to load the package and use it, but it is needed to test (as in develop). Imo, this should be fine (and it has been in the past), but now it seems to be they are wanting it to where one has to have all the packages to test. I am not sure if the volunteer is testing on his local, but it passes on my local with R_CHECK_DEPENDS_ONLY_. I can

[2021-11-08 17:36] ShanaScogin opened #86 "clean up r2jags in testthat"
Right now R2jags is loaded separately from tests, but it makes it hard to go in and find code that depends on this. Might be easier to go in and call each function that uses R2jags from the namespace, ie R2jags::function().

[2021-11-08 18:31] ShanaScogin commented on #82
Added to depends and resubmitted. Opened issue #86 to clean up R2jags stuff in tests.

[2021-11-08 20:34] jkarreth commented on #85
I can definitely do this. Is it sufficient for me to revise `README.Rmd`so that it looks like any .Rmd file with a bibliography (i.e. I would add a .bib file, and replace citations with keys)?

[2021-11-10 20:09] ShanaScogin commented on #82
Sent back again. I think they want all packages used to best to be in depends, despite passing tests with DEPENDS=true variable set. I'll try to reproduce the errors they're getting and clean up.

[2021-11-10 20:21] ShanaScogin commented on #82
Actually - I'd love to hear opinions others have at this point. Should I add all the tests we use in testing (like runjags) as dependencies, or is there something else I'm missing? I think the volunteer might be running this on local since it passes all automatic tests (and the test with DEPENDS on my local), so I don't think any type of skip on cran will help.

[2021-11-10 21:12] ShanaScogin commented on #82
I just resubmitted (and cleaned up all my comments here!). Packages added to imports include: R2jags, runjags, rstanarm, rjags, MCMCpack, R2WinBUGS, brms. CRAN volunteer suggested just running code conditionally in the tests. If this is accepted, I can go back and change it for a small update.

[2021-11-11 15:27] ShanaScogin commented on #82
Back up! The volunteer cut us some slack on the size - it's above 5MB again, so I'll work on that (and moving some of the imports to suggests with conditional code if possible) this week! Thanks all!

[2021-11-11 15:27] #82 closed

[2021-11-12 20:14] ShanaScogin commented on #85
Awesome - Thanks so much! There's no rush, and I ~ think ~ that's right, but I'm not totally sure.

Currently, the repo is set up for all of us to work in develop and then do a pull request for Main - one of us (me or Rob or you, for eg) can then approve the pull request. This way, the checks run before accepting.

[2021-11-15 02:50] jkarreth commented on #28
[This great blog post](https://www.andrewheiss.com/blog/2021/11/10/ame-bayes-re-guide/) by [@andrewheiss](https://github.com/andrewheiss) does provide some shortcuts to some (but not all) of what we had in mind here.

[2022-05-09 15:11] ShanaScogin commented on #86
Going to expand this to include general clean up for the testthat files. Need to add skip_if_not_installed() such as the following:

[code]

Files include
- [x] test_mcmcTab.R
- [x] test_mcmcRocPrc.R
- [x] test_mcmcReg.R
- [x] test_mcmcObsProb.R
- [x] test_mcmcMargEff.R
- [x] test_mcmcRD.R
- [x] test_mcmcCoefPlot.R
- [x] test_mcmcAveProb.R
- [x] helper-libs.R

[2022-05-09 15:55] ShanaScogin commented on #86
I don't think the tests in test_mcmcRocPrc.R are working due to an error thrown in the line `pardraws <- as.matrix(coda::as.mcmc(object))` in the chunk below. Need to sort this before can add the skips:

[code]

[2022-05-11 16:06] ShanaScogin opened #88 "as.matrix with mcmc objects error"
There is an error that is popping up in the test files (test_mcmcFD.R and test_mcmcTab.R for eg) that is showing up when trying to `as.matrix()` an mcmc obj made from `coda::as.mcmc`. These worked at one time, but I do remember Johannes mentioning some ICPSR participants having an issue with this a while back. Example below:

[code]

[2022-05-11 16:24] ShanaScogin commented on #88
Some more info: `mcmcCoefPlot()` seems to work with a runjags object but throws the above error with an rjags object

[2022-05-11 20:10] ShanaScogin commented on #88
coda::as.mcmc() seems to use R2jags:::as.mcmc.rjags() to work properly, so moved back to depends.

[2022-05-11 20:10] #88 closed

[2022-05-11 20:42] ShanaScogin commented on #86
R2jags moved to depends to fix the error in  #88 since it's needed for some mcmc functions. This means loading the package in the helper file is fine. The rest of the files have been refitted with the `skip_if_not_installed()` lines with their various dependencies in commit f8f8e23

[2022-05-11 20:42] #86 closed

[2022-05-11 21:10] ShanaScogin commented on #66
A lot going on in this issue. Here's what I've done so far:

Re: data: I moved the files in /data to /testdata and changed them to .rds files for testing in commit f8f8e23. I re-added several tests as I was checking tests, which means the data files are large. I think we should document any more movement about data in issue #79 opened by Andy.

Re:rjags: In commit ba61eb6, I added R2jags and rjags